* text=auto

.github/ export-ignore

*.png binary
*.jpg binary
*.jpeg binary
*.ico binary

*.ipynb diff=jupyternotebook

Notebooks/*.ipynb linguist-documentation
Notebooks/**/*.ipynb linguist-documentation

skills-lock.json

.agents/
.claude/